.linesa{
    transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
    background-color: black;
    height: 0px;
    width: 3px;
    position: absolute;
    margin-top: -75px;
    margin-left: -2px;
    transition-duration: .3s;
    z-index: 10
  }
  
.linesb{
    transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
    background-color: black;
    height: 0px;
    width: 4px;
    margin-top: -60px;
    margin-left: 72px;
    position: absolute;
    bottom: 0px;
    transition-duration: .3s;
    z-index: 10
  }
  
.linesc{
    transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
    transition-duration: .3s;
    background-color: black;
    height: 5px;
    width: 0px;
    margin-top: -8px;
    position: absolute;
    z-index: 10
  }

  .linesa.active{
    height: 72px;
    width: 3px;
}

.linesb.active{
    height: 70px;
    width: 4px;
}

.linesc.active{
    height: 5px;
    width: 75px;   
}