.extra{
    grid-area: 6 / 3 / 8 / 3;
    background-color: black;
    height: 134px;
    width: 69px;
    position: relative;
    transition-duration: .8s;
    cursor: pointer;
    border: solid black 3px;
}

.extra.active{
    background-color: white;
}

.extra.fadeOut{
    opacity: .2
}

.extra.active.fadeOut{
    background-color: white;
    opacity: .2
}